#banner {
    background-color: #024e82;
}

#banner h1 {
    color: #eeeeee;
    text-shadow: #000 1px 1px 0;
    font-size: 4rem;
}

#banner-mobile {
    background-color: #024e82;
}

#banner-mobile h1 {
    color: #eeeeee;
    text-shadow: #000 1px 1px 0;
}

#menu {
    background-color: #3180c2;
}

:root {
    --cvgv-red: #db3737;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--cvgv-red);
}

.navbar {
    --bs-navbar-active-color: var(--cvgv-red);
}

#sponsors img {
    max-height: 120px;
}

#banner h1 {
    font-weight: bold;
}
