#banner {
    background-color: #024e82;
    color: #eeeeee;
}


#logo {
    width: 100%;
}

#menu {
    background-color: #3180c2;
}

#menu .nav-underline {
    --bs-nav-underline-link-active-color: #eeeeee;
}

#sponsors img {
    max-height: 120px;
}

#banner h1 {
    font-weight: bold;
}
